In [1]:
import pandas as pd
import numpy as np
import folium
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("NYC Accidents 2020.csv")
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2020-08-29,15:40:00,BRONX,10466.0,40.89210,-73.833760,POINT (-73.83376 40.8921),PRATT AVENUE,STRANG AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4342908,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,2020-08-29,21:00:00,BROOKLYN,11221.0,40.69050,-73.919914,POINT (-73.919914 40.6905),BUSHWICK AVENUE,PALMETTO STREET,NaN,...,Unspecified,NaN,NaN,NaN,4343555,Sedan,Sedan,NaN,NaN,NaN
2,2020-08-29,18:20:00,NaN,NaN,40.81650,-73.946556,POINT (-73.946556 40.8165),8 AVENUE,NaN,NaN,...,NaN,NaN,NaN,NaN,4343142,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
3,2020-08-29,00:00:00,BRONX,10459.0,40.82472,-73.892960,POINT (-73.89296 40.82472),NaN,NaN,1047 SIMPSON STREET,...,Unspecified,Unspecified,Unspecified,NaN,4343588,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Motorcycle,NaN
4,2020-08-29,17:10:00,BROOKLYN,11203.0,40.64989,-73.933890,POINT (-73.93389 40.64989),NaN,NaN,4609 SNYDER AVENUE,...,Unspecified,NaN,NaN,NaN,4342953,Sedan,Sedan,NaN,NaN,NaN

In [3]:
nan_locations = df.isna().any()
nan_locations

CRASH DATE                       False
CRASH TIME                       False
BOROUGH                           True
ZIP CODE                          True
LATITUDE                          True
LONGITUDE                         True
LOCATION                          True
ON STREET NAME                    True
CROSS STREET NAME                 True
OFF STREET NAME                   True
NUMBER OF PERSONS INJURED        False
NUMBER OF PERSONS KILLED         False
NUMBER OF PEDESTRIANS INJURED    False
NUMBER OF PEDESTRIANS KILLED     False
NUMBER OF CYCLIST INJURED        False
NUMBER OF CYCLIST KILLED         False
NUMBER OF MOTORIST INJURED       False
NUMBER OF MOTORIST KILLED        False
CONTRIBUTING FACTOR VEHICLE 1     True
CONTRIBUTING FACTOR VEHICLE 2     True
CONTRIBUTING FACTOR VEHICLE 3     True
CONTRIBUTING FACTOR VEHICLE 4     True
CONTRIBUTING FACTOR VEHICLE 5     True
COLLISION_ID                     False
VEHICLE TYPE CODE 1               True
VEHICLE TYPE CODE 2               True
VEHICLE TYPE CODE 3               True
VEHICLE TYPE CODE 4               True
VEHICLE TYPE CODE 5               True
dtype: bool

In [4]:
nyc_map = folium.Map(location=[40.7128,  -74.0060], zoom_start=12)
nyc_map

In [5]:
missing_data_numbers = df.isnull().sum()
missing_data_numbers

CRASH DATE                           0
CRASH TIME                           0
BOROUGH                          25741
ZIP CODE                         25747
LATITUDE                          5946
LONGITUDE                         5946
LOCATION                          5946
ON STREET NAME                   19437
CROSS STREET NAME                39200
OFF STREET NAME                  55444
NUMBER OF PERSONS INJURED            0
NUMBER OF PERSONS KILLED             0
NUMBER OF PEDESTRIANS INJURED        0
NUMBER OF PEDESTRIANS KILLED         0
NUMBER OF CYCLIST INJURED            0
NUMBER OF CYCLIST KILLED             0
NUMBER OF MOTORIST INJURED           0
NUMBER OF MOTORIST KILLED            0
CONTRIBUTING FACTOR VEHICLE 1      304
CONTRIBUTING FACTOR VEHICLE 2    15596
CONTRIBUTING FACTOR VEHICLE 3    68116
CONTRIBUTING FACTOR VEHICLE 4    73030
CONTRIBUTING FACTOR VEHICLE 5    74358
COLLISION_ID                         0
VEHICLE TYPE CODE 1                635
VEHICLE TYPE CODE 2              21243
VEHICLE TYPE CODE 3              68457
VEHICLE TYPE CODE 4              73110
VEHICLE TYPE CODE 5              74378
dtype: int64

In [6]:
df.describe()

,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,COLLISION_ID
count,49134.000000,68935.000000,68935.000000,74881.000000,74881.000000,74881.000000,74881.000000,74881.000000,74881.000000,74881.000000,74881.000000,7.488100e+04
mean,10913.681585,40.689825,-73.843376,0.366555,0.001923,0.054740,0.000748,0.043709,0.000120,0.268105,0.001055,4.305762e+06
std,515.069483,1.233368,2.234881,0.726178,0.047609,0.237582,0.027337,0.209737,0.010963,0.691423,0.037073,2.171658e+04
min,10000.000000,0.000000,-74.253006,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.063247e+06
25%,10458.000000,40.667076,-73.958680,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.287041e+06
50%,11210.000000,40.716885,-73.916850,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.305812e+06
75%,11354.000000,40.789445,-73.862630,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.324545e+06
max,11697.000000,40.912884,0.000000,15.000000,4.000000,6.000000,1.000000,3.000000,1.000000,15.000000,4.000000,4.343622e+06

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74881 entries, 0 to 74880
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CRASH DATE                     74881 non-null  object
 1   CRASH TIME                     74881 non-null  object
 2   BOROUGH                        49140 non-null  object
 3   ZIP CODE                       49134 non-null  float64
 4   LATITUDE                       68935 non-null  float64
 5   LONGITUDE                      68935 non-null  float64
 6   LOCATION                       68935 non-null  object
 7   ON STREET NAME                 55444 non-null  object
 8   CROSS STREET NAME              35681 non-null  object
 9   OFF STREET NAME                19437 non-null  object
 10  NUMBER OF PERSONS INJURED      74881 non-null  int64
 11  NUMBER OF PERSONS KILLED       74881 non-null  int64
 12  NUMBER OF PEDESTRIANS INJURED  74881 non-null  int64
 13  NUMBER OF PEDESTRIANS KILLED   74881 non-null  int64
 14  NUMBER OF CYCLIST INJURED      74881 non-null  int64
 15  NUMBER OF CYCLIST KILLED       74881 non-null  int64
 16  NUMBER OF MOTORIST INJURED     74881 non-null  int64
 17  NUMBER OF MOTORIST KILLED      74881 non-null  int64
 18  CONTRIBUTING FACTOR VEHICLE 1  74577 non-null  object
 19  CONTRIBUTING FACTOR VEHICLE 2  59285 non-null  object
 20  CONTRIBUTING FACTOR VEHICLE 3  6765 non-null   object
 21  CONTRIBUTING FACTOR VEHICLE 4  1851 non-null   object
 22  CONTRIBUTING FACTOR VEHICLE 5  523 non-null    object
 23  COLLISION_ID                   74881 non-null  int64
 24  VEHICLE TYPE CODE 1            74246 non-null  object
 25  VEHICLE TYPE CODE 2            53638 non-null  object
 26  VEHICLE TYPE CODE 3            6424 non-null   object
 27  VEHICLE TYPE CODE 4            1771 non-null   object
 28  VEHICLE TYPE CODE 5            503 non-null    object
dtypes: float64(3), int64(9), object(17)
memory usage: 16.6+ MB

In [8]:
missing_data = df.isnull().sum() / len(df) * 100
print(missing_data.sort_values(ascending=False))

VEHICLE TYPE CODE 5              99.328268
CONTRIBUTING FACTOR VEHICLE 5    99.301558
VEHICLE TYPE CODE 4              97.634914
CONTRIBUTING FACTOR VEHICLE 4    97.528078
VEHICLE TYPE CODE 3              91.421055
CONTRIBUTING FACTOR VEHICLE 3    90.965666
OFF STREET NAME                  74.042815
CROSS STREET NAME                52.349728
ZIP CODE                         34.383889
BOROUGH                          34.375876
VEHICLE TYPE CODE 2              28.369012
ON STREET NAME                   25.957185
CONTRIBUTING FACTOR VEHICLE 2    20.827713
LOCATION                          7.940599
LONGITUDE                         7.940599
LATITUDE                          7.940599
VEHICLE TYPE CODE 1               0.848012
CONTRIBUTING FACTOR VEHICLE 1     0.405977
COLLISION_ID                      0.000000
CRASH DATE                        0.000000
NUMBER OF MOTORIST KILLED         0.000000
NUMBER OF MOTORIST INJURED        0.000000
NUMBER OF CYCLIST KILLED          0.000000
CRASH TIME                        0.000000
NUMBER OF PEDESTRIANS KILLED      0.000000
NUMBER OF PEDESTRIANS INJURED     0.000000
NUMBER OF PERSONS KILLED          0.000000
NUMBER OF PERSONS INJURED         0.000000
NUMBER OF CYCLIST INJURED         0.000000
dtype: float64

In [9]:
threshold = 73.0
df = df.loc[:, missing_data < threshold]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74881 entries, 0 to 74880
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CRASH DATE                     74881 non-null  object
 1   CRASH TIME                     74881 non-null  object
 2   BOROUGH                        49140 non-null  object
 3   ZIP CODE                       49134 non-null  float64
 4   LATITUDE                       68935 non-null  float64
 5   LONGITUDE                      68935 non-null  float64
 6   LOCATION                       74881 non-null  object
 7   ON STREET NAME                 55444 non-null  object
 8   CROSS STREET NAME              35681 non-null  object
 9   NUMBER OF PERSONS INJURED      74881 non-null  int64
 10  NUMBER OF PERSONS KILLED       74881 non-null  int64
 11  NUMBER OF PEDESTRIANS INJURED  74881 non-null  int64
 12  NUMBER OF PEDESTRIANS KILLED   74881 non-null  int64
 13  NUMBER OF CYCLIST INJURED      74881 non-null  int64
 14  NUMBER OF CYCLIST KILLED       74881 non-null  int64
 15  NUMBER OF MOTORIST INJURED     74881 non-null  int64
 16  NUMBER OF MOTORIST KILLED      74881 non-null  int64
 17  CONTRIBUTING FACTOR VEHICLE 1  74577 non-null  object
 18  CONTRIBUTING FACTOR VEHICLE 2  59285 non-null  object
 19  COLLISION_ID                   74881 non-null  int64
 20  VEHICLE TYPE CODE 1            74246 non-null  object
 21  VEHICLE TYPE CODE 2            53638 non-null  object
dtypes: float64(3), int64(9), object(10)
memory usage: 12.6+ MB

In [11]:
df['LOCATION'] = df.apply(
    lambda row: f"{row['LATITUDE']}, {row['LONGITUDE']}" if pd.isnull(row['LOCATION']) else row['LOCATION'],
    axis=1
)

In [13]:
df.sample(5)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,NUMBER OF PERSONS INJURED,...,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
19234,2020-06-26,14:17:00,BRONX,10470.0,40.903930,-73.847920,POINT (-73.84792 40.90393),BARNES AVENUE,SAINT OUEN STREET,0,...,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4326080,Sedan,Sedan
10463,2020-07-26,11:30:00,QUEENS,11368.0,NaN,NaN,"nan, nan",NORTHERN BOULEVARD,126 STREET,0,...,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4334091,Sedan,Sedan
2132,2020-08-22,18:40:00,NaN,NaN,NaN,NaN,"nan, nan",QUEENSBORO BRIDGE LOWER ROADWAY,NaN,0,...,0,0,0,0,0,Driver Inattention/Distraction,Failure to Yield Right-of-Way,4340972,Station Wagon/Sport Utility Vehicle,NaN
47080,2020-02-29,04:45:00,MANHATTAN,10035.0,40.797993,-73.936066,POINT (-73.936066 40.797993),NaN,NaN,0,...,0,0,0,0,0,Alcohol Involvement,Unspecified,4296845,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
69372,2020-01-14,11:15:00,MANHATTAN,10002.0,40.720074,-73.988365,POINT (-73.988365 40.720074),LUDLOW STREET,RIVINGTON STREET,0,...,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4273231,Box Truck,Box Truck

In [14]:
df = df.dropna(subset=['LATITUDE', 'LONGITUDE', 'CONTRIBUTING FACTOR VEHICLE 2', 'ZIP CODE', 'ON STREET NAME', 'CROSS STREET NAME', 'CONTRIBUTING FACTOR VEHICLE 2', 'VEHICLE TYPE CODE 2'])

In [15]:
df['MISSING_BOROUGH'] = df['BOROUGH'].isnull().astype(int)

In [16]:
df.sample(7)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,NUMBER OF PERSONS INJURED,...,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,MISSING_BOROUGH
63309,2020-01-26,18:39:00,QUEENS,11374.0,40.726463,-73.859430,POINT (-73.85943 40.726463),WETHEROLE STREET,65 ROAD,0,...,0,0,0,0,Passing Too Closely,Driver Inattention/Distraction,4279106,Sedan,Sedan,0
35980,2020-03-31,15:45:00,MANHATTAN,10037.0,40.816530,-73.934880,POINT (-73.93488 40.81653),5 AVENUE,WEST 141 STREET,0,...,0,0,0,0,Driver Inattention/Distraction,Unspecified,4305006,Station Wagon/Sport Utility Vehicle,Sedan,0
49614,2020-02-24,16:50:00,BROOKLYN,11214.0,40.596745,-73.985275,POINT (-73.985275 40.596745),86 STREET,STILLWELL AVENUE,0,...,0,0,0,0,Driver Inattention/Distraction,Unspecified,4292975,Sedan,Station Wagon/Sport Utility Vehicle,0
11620,2020-07-22,21:30:00,STATEN ISLAND,10304.0,40.608982,-74.088135,POINT (-74.088135 40.608982),DEKALB STREET,TARGEE STREET,1,...,0,0,1,0,Traffic Control Disregarded,Unspecified,4332108,Sedan,Sedan,0
15462,2020-07-09,20:20:00,BROOKLYN,11235.0,40.581960,-73.959946,POINT (-73.959946 40.58196),NEPTUNE AVENUE,CONEY ISLAND AVENUE,1,...,1,0,0,0,Unspecified,Unspecified,4327806,Bike,Sedan,0
15659,2020-07-09,20:30:00,BROOKLYN,11213.0,40.669403,-73.942210,POINT (-73.94221 40.669403),EASTERN PARKWAY,KINGSTON AVENUE,0,...,0,0,0,0,Driver Inattention/Distraction,Unspecified,4328092,Sedan,Motorcycle,0
32972,2020-04-22,22:51:00,QUEENS,11692.0,40.592846,-73.796160,POINT (-73.79616 40.592846),BEACH 67 STREET,BEACH CHANNEL DRIVE,0,...,0,0,0,0,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,Driver Inattention/Distraction,4310275,Station Wagon/Sport Utility Vehicle,Sedan,0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21484 entries, 0 to 74879
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CRASH DATE                     21484 non-null  object
 1   CRASH TIME                     21484 non-null  object
 2   BOROUGH                        21484 non-null  object
 3   ZIP CODE                       21484 non-null  float64
 4   LATITUDE                       21484 non-null  float64
 5   LONGITUDE                      21484 non-null  float64
 6   LOCATION                       21484 non-null  object
 7   ON STREET NAME                 21484 non-null  object
 8   CROSS STREET NAME              21484 non-null  object
 9   NUMBER OF PERSONS INJURED      21484 non-null  int64
 10  NUMBER OF PERSONS KILLED       21484 non-null  int64
 11  NUMBER OF PEDESTRIANS INJURED  21484 non-null  int64
 12  NUMBER OF PEDESTRIANS KILLED   21484 non-null  int64
 13  NUMBER OF CYCLIST INJURED      21484 non-null  int64
 14  NUMBER OF CYCLIST KILLED       21484 non-null  int64
 15  NUMBER OF MOTORIST INJURED     21484 non-null  int64
 16  NUMBER OF MOTORIST KILLED      21484 non-null  int64
 17  CONTRIBUTING FACTOR VEHICLE 1  21484 non-null  object
 18  CONTRIBUTING FACTOR VEHICLE 2  21484 non-null  object
 19  COLLISION_ID                   21484 non-null  int64
 20  VEHICLE TYPE CODE 1            21484 non-null  object
 21  VEHICLE TYPE CODE 2            21484 non-null  object
 22  MISSING_BOROUGH                21484 non-null  int32
dtypes: float64(3), int32(1), int64(9), object(10)
memory usage: 3.9+ MB

In [18]:

# Loop through the data to add markers
for index, row in df.iterrows():
    # Set marker coordinates
    latitude = row['LATITUDE']
    longitude = row['LONGITUDE']
    
    # Customize popup text with relevant details
    popup_text = (f"<b>Crash Date:</b> {row['CRASH DATE']}<br>"
                  f"<b>Crash Time:</b> {row['CRASH TIME']}<br>"
                  f"<b>Borough:</b> {row['BOROUGH']}<br>"
                  f"<b>Street Name:</b> {row['ON STREET NAME']}<br>"
                  f"<b>Number Injured:</b> {row['NUMBER OF PERSONS INJURED']}<br>"
                  f"<b>Number Killed:</b> {row['NUMBER OF PERSONS KILLED']}<br>"
                  f"<b>Pedestrians Injured:</b> {row['NUMBER OF PEDESTRIANS INJURED']}<br>"
                  f"<b>Contributing Factor:</b> {row['CONTRIBUTING FACTOR VEHICLE 1']}")

    # Add marker to the map
    folium.Marker(
        location=[latitude, longitude],
        popup=folium.Popup(popup_text, max_width=300),
        icon=folium.Icon(color="red" if row['NUMBER OF PERSONS KILLED'] > 0 else "blue")
    ).add_to(nyc_map)

# Save map as an HTML file
nyc_map.save("nyc_traffic_accidents_map.html")

In [19]:
from IPython.display import IFrame
IFrame("nyc_traffic_accidents_map.html", width=800, height=600)